main#index{
    margin-bottom: 40px;
    h1{
        font-size: 60px;
        font-weight: 700;
        margin: 20px 0 0 0;
    }
    h2{
        margin: 20px 0;
        font-size: 36px;
    }
    .slider{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .slider-button{
            width: 65px;
            height: 270px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                width: 65px;
                height: 65px;
            }
        }
        .slider-button.left{
            img{
                transform: rotate(90deg);
            }
        }
        .slider-button.right{
            img{
                transform: rotate(270deg);
            }
        }
        .book-covers{
            width: 85%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            img{
                width: 185px;
                height: 270px;
                cursor: pointer;
            }
        }
        .book-covers_hidden-space{
            position: absolute;
            left: -1800px;
        }
    }
}

@media (max-width: 1351px) {
    main#index{
        .slider{
            .slider-button{
                width: 65px;
                height: 200px;
                img{
                    width: 65px;
                    height: 65px;
                }
            }
            .book-covers{
                img{
                    width: 120px;
                    height: 200px;
                }
            }
        }
    }
}

@media (max-width: 1151px) {
    main#index{
        .slider{
            .slider-button{
                width: 50px;
                height: 175px;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            .book-covers{
                img{
                    width: 100px;
                    height: 175px;
                }
            }
        }
    }
}

@media (max-width: 901px) {
    main#index{
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 28px;
        }
        .slider{
            .slider-button{
                width: 40px;
                height: 150px;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            .book-covers{
                img{
                    width: 80px;
                    height: 150px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    main#index{
        .slider{
            .book-covers{
                img{
                    width: 17%;
                    height: 150px;
                }
            }
        }
    }
}

@media (max-width: 651px) {
    main#index{
        .slider{
            .book-covers{
                width: 75%;
                img{
                    width: 20%;
                }
            }
        }
    }
}

@media (max-width: 501px) {
    main#index{
        h1{
            font-size: 28px;
        }
        h2{
            font-size: 18px;
            margin: 10px 0;
        }
        .slider{
            .slider-button{
                width: 40px;
                height: 150px;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            .book-covers{
                width: 75%;
                img{
                    width: 30%;
                }
            }
        }
    }
}

@media (max-width: 426px) {
    main#index{
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 20px;
        }
        .slider{
            .slider-button{
                width: 60px;
                height: 250px;
                img{
                    width: 60px;
                    height: 60px;
                }
            }
            .book-covers{
                width: 75%;
                display: flex;
                justify-content: center;
                img{
                    width: 70%;
                    height: 250px;
                }
            }
        }
    }
}

@media (max-width: 376px) {
    main#index{
        h1{
            font-size: 24px;
        }
        .slider{
            .slider-button{
                width: 50px;
                height: 250px;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            .book-covers{
                width: 75%;
                img{
                    width: 80%;
                }
            }
        }
    }
}